<div class="tab-pane" id="sistemEposta">
    <div class="icons pull-right">
       
        <button type="button" class="btn btn-default btn-sm" margin-top=20px; title="Dışa Aktar"><i class="glyphicon glyphicon-refresh"></i></button>
        <button type="button" class="btn btn-default btn-sm" margin-top=20px; title="Dışa Aktar"><i class="glyphicon glyphicon-floppy-disk"></i></button>
    </div>
    <br /><br />
    <div class="row">
        <div class="form-group col-sm-4">
            <label for="carikart_id">Uyarı Grubu</label>
            <select class="form-control" name="stokKartTipi" id="stokKartTipi"></select>
        </div>
        <div class="form-group col-sm-4">
            <label for="carikart_id">Hangi Günler</label>
            <select class="form-control" name="stokKartTipi" id="stokKartTipi"></select>
        </div>
        <div class="form-group  col-sm-4">
            <label>Saat Aralıgı</label>
            <input type="number" class="form-control" name="tarih" id="tarih">
        </div>
             
    </div>
</div>