<div class="tab-pane" id="varyantlarCon">

    <div class="row">
        <div class="form-group col-sm-2 text-center">
            <label for="tek_varyant">Tek Varyant*</label>
            <div class="col-md-12">
                <input type="checkbox" name="tek_varyant" id="tek_varyant"  class="iCheck-helper">
            </div>
        </div>
        <div class="form-group col-sm-8">
            <label for="stokKodu">Stok Kodu*</label>
            <select class="form-control select2" name="stokkart_sku" id="stokkart_sku" multiple="multiple" data-placeholder="Seçim Yapınız." style="width: 100%;"></select>
        </div>
        <div class="form-group col-sm-2">
            <button type="button" class="btn btn-default btn-sm fright delete varyantDeleteBtn" title="sil"><i class="fa fa-remove"></i></button>
            <button type="button" class="btn btn-default btn-sm fright m-right-10 varyantBtn" title="Ekle"><i class="fa fa-plus"></i></button>
        </div>
    </div>
    <table id="VaryantSkuKart" class="table table-bordered table-hover">
        <thead>
            <tr>
                <th class="widthTable allCheckBox">Seçim</th>
                <th>Renk Adı</th>
                <th>Renk Kodu</th>
                <th>Sku No</th>
                <th>EAN/UPC</th>
                <th>Alternatif</th>
                <th>Min/Max</th>
            </tr>
        </thead>
    </table>

</div>