<div class="tab-pane" id="finansiletisim">
    <div class="row">
        <div class="form-group col-sm-12">
            <button type="button" class="btn btn-default btn-sm fright delete finansiletisimDeleteBtn" title="sil"><i class="fa fa-remove"></i></button>
            <button type="button" class="btn btn-default btn-sm fright m-right-10 finansiletisimBtn" title="Ekle"><i class="fa fa-plus"></i></button>
        </div>
    </div>
    
    <table id="iletisimTable" class="table table-bordered table-hover">
    <thead>
        <tr>
            <th>İletişim ID</th>
            <th>Yetkili</th>
            <th>Telefon </th>
            <th>E-Posta</th>
        </tr>
    </thead>
</table>

</div>