<div class="tab-pane" id="finansNotlarForm">
    <input type="hidden" name="hfcarikart_id" id="hfcarikart_id" value="" />
    <div class="row">
        <div class="form-group col-sm-12">
            <button type="button" class="btn btn-default btn-sm fright delete notlarDeleteBtn" title="sil"><i class="fa fa-remove"></i></button>
            <button type="button" class="btn btn-default btn-sm fright m-right-10 notlarBtn" title="Ekle"><i class="fa fa-plus"></i></button>
        </div>
    </div>
    <table id="notlarTable" class="table table-bordered table-hover">
        <thead>
            <tr>
                <th>Not ID</th>
                <th>Nereden</th>
                <th>Not  </th>
            </tr>
        </thead>
    </table>
</div>