<div class="tab-pane" id="posta">
    <div class="row">
        <div class="col-sm-12" style="margin-bottom:7px;">
            <label for="irsaliye_eposta" style="margin-left:15px;">İrsaliye Gönderilecek(Gerekli)*</label>
            <div class="col-sm-12">
                <input type="text" class="form-control" placeholder="İrsaliye Gönderilecek(Gerekli)" name="irsaliye_eposta" id="irsaliye_eposta" value=""><i class="fa fa-envelope" " style="position:absolute;right:25px;top :8px;"></i>
            </div>
        </div>
        <div class="col-sm-12" style="margin-bottom:7px;">
            <label for="perakende_fatura_eposta" style="margin-left:15px;">Parekende Fatura Gönderilecek(Gerekli)*</label>
            <div class="col-sm-12">
                <input type="text" class="form-control" placeholder="Parekende Fatura Gönderilecek(Gerekli)" name="perakende_fatura_eposta" id="perakende_fatura_eposta" value=""><i class="fa fa-envelope" style="position:absolute;right:25px;top :8px;"></i>
            </div>
        </div>
        <div class="col-sm-12" style="margin-bottom:7px;">
            <label for="toptan_fatura_eposta" style="margin-left:15px;">Toptan Faatura Gönderilecek (Gerekli)*</label>
            <div class="col-sm-12">
                <input type="text" class="form-control" placeholder="Toptan Faatura Gönderilecek (Gerekli)" name="toptan_fatura_eposta" id="toptan_fatura_eposta" value=""><i class="fa fa-envelope" " style="position:absolute;right:25px;top :8px;" ></i>
            </div>
        </div>
        <div class="col-sm-12" style="margin-bottom:7px;">
            <label for="siparis_formu_eposta" style="margin-left:15px;">Sipariş Formu Gönderilecek (Gerekli)*</label>
            <div class="col-sm-12">
                <input type="text" class="form-control" placeholder="Sipariş Formu Gönderilecek (Gerekli)" name="siparis_formu_eposta" id="siparis_formu_eposta" value=""><i class="fa fa-envelope" " style="position:absolute;right:25px;top :8px;"></i>
            </div>
        </div>
        <div class="col-sm-12" style="margin-bottom:7px;">
            <label for="babs_formu_eposta" style="margin-left:15px;">BA/BS Formu Gönderilecek (Gerekli)*</label>
            <div class="col-sm-12">
                <input type="text" class="form-control" placeholder="BA/BS Formu Gönderilecek (Gerekli)" name="babs_formu_eposta" id="babs_formu_eposta" value=""><i class="fa fa-envelope" " style="position:absolute;right:25px;top :8px;"></i>
            </div>
        </div>
        <div class="col-sm-12" style="margin-bottom:7px;">
            <label for="cari_mutabakat_formu_eposta" style="margin-left:15px;">Cari Mutabakat Gönderilecek (Gerekli)*</label>
            <div class="col-sm-12">
                <input type="text" class="form-control" placeholder="Cari Mutabakat Gönderilecek (Gerekli)" name="cari_mutabakat_formu_eposta" id="cari_mutabakat_formu_eposta" value=""><i class="fa fa-envelope" style="position:absolute;right:25px;top :8px;"></i>
            </div>
        </div>
        <div class="col-sm-12" style="margin-bottom:7px;">
            <label for="odeme_hatirlatma_eposta" style="margin-left:15px;">Ödeme Hatırlatma Gönderilecek (Gerekli)*</label>
            <div class="col-sm-12">
                <input type="text" class="form-control" placeholder="Ödeme Hatırlatma Gönderilecek (Gerekli)*" name="odeme_hatirlatma_eposta" id="odeme_hatirlatma_eposta" value=""><i class="fa fa-envelope" style="position:absolute;right:25px;top :8px;"></i>
            </div>
        </div>
    </div>
</div>