<div class="tab-pane" id="sube">
    <div class="row">
        <div class="form-group col-sm-12 fright">
            <button type="button" class="btn btn-default btn-sm fright delete subeDeleteBtn" title="sil"><i class="fa fa-remove"></i></button>
            <button type="button" class="btn btn-default btn-sm fright m-right-10 subeBtn" title="Ekle"><i class="fa fa-plus"></i></button>
        </div>
    </div>
    <table id="subeList" class="table table-bordered table-hover">
        <thead>
            <tr>
                <th class="widthTable allCheckBox">Seçim</th>
                <th>Cari ID</th>
                <th>Cari Unvan</th>
                <th>Cari Türü</th>
                <th>Cari Tipi</th>
            </tr>
        </thead>
    </table>

</div>