<div class="tab-pane" id="fiyatlar">
    <div class="row">
        <div class="form-group col-sm-12">
            <button type="button" class="btn btn-default btn-sm fright depoDeleteBtn" title="sil"><i class="fa fa-remove"></i></button>
            <button type="button" class="btn btn-default btn-sm fright m-right-10 depoBtn" title="Ekle"><i class="fa fa-plus"></i></button>
        </div>
    </div>
    <table id="depofiyat" class="table table-bordered table-hover depofyts">
        <thead>
            <tr>
              @*  <th>Seçim</th>*@
                <th>Fiyat Tipi</th>
                <th>Fiyat Tipi Kullanılabilir</th>
                <th>Varsayılan Fiyat Tipi</th>
            </tr>
        </thead>
    </table>
 
    
</div>