<div class="active tab-pane iletsm" id="depoiletisim">
    <input type="hidden" class="form-control" placeholder="" name="carikart_adres_id" id="carikart_adres_id" value="">
    <div class="row">
        <div class="col-sm-12">
            <label>Resmi Unvan</label>
            <input type="text" class="form-control" name="adresunvan" id="adresunvan" />
        </div>
        <div class="col-sm-3">
            <label>Yetkili</label>
            <input type="text" class="form-control" name="yetkili_ad_soyad" id="yetkili_ad_soyad" />
        </div>
        <div class="col-sm-3">
            <label>Cep Telefonu</label>
            <div class="input-group">
                <div class="input-group-addon">
                    <i class="fa fa-phone"></i>
                </div>
                <input type="text" class="form-control number-mask" name="yetkili_tel" id="yetkili_tel" value="" data-inputmask="&quot;mask&quot;: &quot;(999) 999-9999&quot;" data-mask="">
            </div>
        </div>
        <div class="col-sm-3">
            <label>E-Posta</label>
            <input type="text" class="form-control" name="email" id="email" />
        </div>
        <div class="col-sm-3">
            <label>Web Sitesi</label>
            <input type="text" class="form-control" name="websitesi" id="websitesi" />
        </div>
        <div class="col-sm-3">
            <label>Ülke</label>
           
            <select id="ulke_id" name="ulke_id" class="form-control"></select>
        </div>
        <div class="col-sm-3">
            <label>İl</label>
            <select id="sehir_id" name="sehir_id" class="form-control"></select>
        </div>
        <div class="col-sm-3">
            <label>İlçe</label>
            <select id="ilce_id" name="ilce_id" class="form-control"></select>
        </div>
        <div class="col-sm-3">
            <label>Semt / Mahalle</label>
            <select id="semt_id" name="semt_id" class="form-control"></select>
        </div>


        <div class="col-sm-3">
            <label>Posta Kodu</label>
            <input type="text" class="form-control" id="postakodu" name="postakodu" />
        </div>
        <div class="col-sm-3">
            <label>Faks</label>
            <div class="input-group">
                <div class="input-group-addon">
                    <i class="fa fa-phone"></i>
                </div>
                <input type="text" class="form-control number-mask" name="fax" id="fax" value="" data-inputmask="&quot;mask&quot;: &quot;(999) 999-9999&quot;" data-mask="">
            </div>
        </div>
        <div class="col-sm-3">
            <label>Telefon 1</label>
            <div class="input-group">
                <div class="input-group-addon">
                    <i class="fa fa-phone"></i>
                </div>
                <input type="text" class="form-control number-mask" name="tel1" id="tel1" value="" data-inputmask="&quot;mask&quot;: &quot;(999) 999-9999&quot;" data-mask="">
            </div>
        </div>
        <div class="col-sm-3">
            <label>Telefon 2</label>
            <div class="input-group">
                <div class="input-group-addon">
                    <i class="fa fa-phone"></i>
                </div>
                <input type="text" class="form-control number-mask" name="tel2" id="tel2" value="" data-inputmask="&quot;mask&quot;: &quot;(999) 999-9999&quot;" data-mask="">
            </div>
        </div>
        <div class="col-sm-12">
            <label>Adres</label>
            <textarea class="form-control" id="adres" name="adres" rows="4"></textarea>
        </div>
    </div>
    </div>

    