<div class="tab-pane raporparam" id="raporparametreleri">
    <div class="row">
        <div class="col-sm-12">
            Depo Ana Grup
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <select class="form-control ui-front" id="cari_parametre_1" name="cari_parametre_1"></select>
            @*<select id="parametre_id" name="parametre_id" class="form-control" >
                <option value="0">Seçiniz</option>
            </select>*@
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            Depo Alt Grup
        </div>
    </div>
   
        <div class="row">
            <div class="col-sm-12">
                <select id="cari_parametre_2" name="cari_parametre_2" class="form-control ui-front" >
                </select>
            </div>
        </div>
    <div class="row">
        <div class="col-sm-12">
            Depo Kategori
        </div>
    </div>
        <div class="row">
            <div class="col-sm-12">
                <select id="cari_parametre_3" name="cari_parametre_3" class="form-control ui-front"  >
                </select>
            </div>
        </div>
    <div class="row">
        <div class="col-sm-12">
            Depo Özel
        </div>
    </div>
        <div class="row">
            <div class="col-sm-12">
                <select id="cari_parametre_4" name="cari_parametre_4" class="form-control ui-front">
                </select>
            </div>
        </div>
    <div class="row">
        <div class="col-sm-12">
          Depo Genel 
        </div>
    </div>
        <div class="row">
            <div class="col-sm-12">
                <select id="cari_parametre_5" name="cari_parametre_5" class="form-control ui-front" >
                </select>
            </div>
        </div>
    <div class="row">
        <div class="col-sm-12">
            Cari Parametre 6
        </div>
    </div>
        <div class="row">
            <div class="col-sm-12">
                <select id="cari_parametre_6" name="cari_parametre_6" class="form-control ui-front" >
                </select>
            </div>
        </div>
    <div class="row">
        <div class="col-sm-12">
            Cari Parametre 7
        </div>
    </div>
        <div class="row">
            <div class="col-sm-12">
                <select id="cari_parametre_7" name="cari_parametre_7" class="form-control ui-front">
                </select>
            </div>
        </div>
    </div>
