<form id="benzerstkFrom" class="ui-front">
    <div class="row">
        <div class="form-group col-sm-12">
            <label for="sku_no">Sku No</label>
            <input type="text" class="form-control" name="modelAdi" id="modelAdi" maxlength="20" placeholder="Benzer Kart Seçiniz"><i class="fa fa-fw fa-search" style="position:absolute;right:20px;top :28px;"></i>
        </div>
    </div>
    <script>
        stokkartilkMadde.search.init();
    </script>
</form>