<form id="finansSubeForm" class="ui-front ui-corner-all">
    <div class="row">
        <div class="form-group col-sm-12">
            <label>Şube Adı</label>
            <input type="text" class="form-control " placeholder="" name="ana_carikart_id" id="ana_carikart_id"><i class="fa fa-fw fa-search" style="position:absolute;right:20px;top :28px;"></i>
        </div>
    </div>
    <input id="hfId" name="hfId" value="" type="hidden" />
    <script>
        $(function () {
            carikartlar.search.init();
        });
    </script>
    
</form>


