<form id="siparisNotForm">
    <div class="row">
        <div class="form-group col-sm-10">
            <label>Açıklama </label>
            <input type="text" class="form-control" name="aciklama" id="aciklama">
        </div>
    </div>
    <input id="siparis_id" name="siparis_id" value="" type="hidden" />
    <input type="hidden" class="form-control" name="sira_id" id="sira_id">
</form>