

<style>
    #talimatKendo > table /* header + data table */ {
        table-layout: fixed;
        overflow-wrap: break-word;
        text-overflow: clip;
    }

    /*html {
        font: 12px sans-serif;
    }*/

    .k-grid {
        width: 100%;
    }

    #talimatKendo {
        display: inline-block;
        width: auto;
    }

        #talimatKendo table {
            width: 100%;
        }

    .k-grid td {
        white-space: pre;
    }
</style>





<div class="tab-pane" id="talimatTab">
    <div id="talimatKendo" contentEditable></div>
</div>

@*<div class="row">
        <div class="form-group col-sm-1 fright">
            <button type="button" class="btn btn-default btn-sm fright delete varyantDeleteBtn" title="sil"><i class="fa fa-remove"></i></button>
            <button type="button" class="btn btn-default btn-sm fright m-right-10 varyantBtn" title="Ekle"><i class="fa fa-plus"></i></button>
        </div>
    </div>
    <table id="talimats" class="table table-bordered table-hover">
        <thead>
            <tr>
                <th class="widthTable allCheckBox">Seçim</th>
                <th>Talimat</th>
                <th>Fasoncu</th>
                <th>Açıklama</th>
                <th>İrsaliye Açıklama</th>
                <th>İşlem Sayısı</th>
            </tr>
        </thead>
    </table>*@