<div class="tab-pane" id="calismayerleriCon">
    <div class="row">
        <div class="form-group col-sm-12">
            <button type="button" class="btn btn-default btn-sm fright delete" title="sil"><i class="fa fa-remove"></i></button>
            <button type="button" class="btn btn-default btn-sm fright m-right-10" data-toggle="modal" data-target="#calismayeriPopup" title="Ekle"><i class="fa fa-plus"></i></button>
        </div>
    </div>
    <div class="row">
        <table id="calismayerleri" class="table table-bordered table-hover tableDesing">
            <thead>
                <tr>
                    <th></th>
                    <th>Çalışma Yeri</th>
                    <th>Görev</th>
                    <th>Departman</th>
                </tr>
            </thead>
            <tbody>
            </tbody>
        </table>
    </div>
</div>
