<div class="tab-pane" id="raporparametreleriCon">
    <div class="row">
        <div class="col-sm-12">
            <div class="box-body">
                <div class="form-group col-sm-12">
                    <label>Cari Ana Grup*</label>
                    <select class="form-control" name="cari_parametre_1" id="cari_parametre_1" data-parametre="1"></select>
                </div>
                <div class="form-group col-sm-12">
                    <label>Cari Alt Grup*</label>
                    <select class="form-control" name="cari_parametre_2" id="cari_parametre_2" data-parametre="2"></select>
                </div>
                <div class="form-group col-sm-12">
                    <label>Cari Bölge*</label>
                    <select class="form-control" name="cari_parametre_3" id="cari_parametre_3" data-parametre="3"></select>
                </div>
                <div class="form-group col-sm-12">
                    <label>Cari Root*</label>
                    <select class="form-control" name="cari_parametre_4" id="cari_parametre_4" data-parametre="4"></select>
                </div>
                <div class="form-group col-sm-12">
                    <label>Cari Dağıtım Kanalı*</label>
                    <select class="form-control" name="cari_parametre_5" id="cari_parametre_5" data-parametre="5"></select>
                </div>
                <div class="form-group col-sm-12">
                    <label>Satın Alma Grubu*</label>
                    <select class="form-control" name="cari_parametre_6" id="cari_parametre_6" data-parametre="6"></select>
                </div>
                <div class="form-group col-sm-12">
                    <label>Toptan Satış Grubu*</label>
                    <select class="form-control" name="cari_parametre_7" id="cari_parametre_7" data-parametre="7"></select>
                </div>
            </div>
        </div>
    </div>
</div>