<div class="tab-pane" id="varyantlarCon">
    <div class="form-group col-sm-12">
        <button type="button" class="btn btn-default btn-sm fright delete varyantDeleteBtn" title="sil"><i class="fa fa-remove"></i></button>
        <button type="button" class="btn btn-default btn-sm fright m-right-10 varyantBtn" title="Ekle"><i class="fa fa-plus"></i></button>
        @*<button type="button" class="btn btn-default btn-sm fright m-right-10" data-toggle="modal" data-target="#modalPopup" title="Ekle"><i class="fa fa-plus"></i></button>*@
        

    </div>
    <table id="VaryantKart" class="table table-bordered table-hover">
        <thead>
            <tr>
                <th class="widthTable allCheckBox">Seçim</th>
                <th>Beden Adı</th>
                <th>Beden Grubu</th>
                <th>Sku No</th>
                <th>EAN/UPC</th>
                <th>Min/Max</th>
            </tr>
        </thead>
        <tbody></tbody>
    </table>   
</div>